{% extends "basket.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
       <title>Online Shop</title>
<!--    <link rel="stylesheet" type="text/css" href="static/css/styles.css">-->
  </head>
  <body>
    <header>
      <h1>ONLINE SHOP</h1>
      <button class="login-btn">LOG IN</button>
      <button class="reg-btn">REGISTER</button>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li>
          <a href="#">Categories</a>
          <ul>
            <li><a href="sport">Sport</a></li>
            <li><a href="#">Electronic</a></li>
            <li><a href="#">House</a></li>
          </ul>
        </li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>







    <main>
      <!-- Content here -->
    </main>

  </body>
</html>


{% endblock %}
